.cart-notice{
  display:flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.cart-notice__content{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
}

.cart-notice__links{
}

.cart-notice__link{
  margin: 0 1.5rem;
  font-size: 1.5rem;
}

.cart-notice__game{
  font-weight: 600;
  padding-right: 1rem;
}
