.catalogue__card{
  background-color: white;
  margin: 1rem;
  padding: 1.3rem;
  border: 2px solid #f4f3f3;
  border-radius: 1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
