.header {
    font-size: 1.6rem;
    height: 8rem;
    background-color: #ffffff;
    border-bottom: 2px solid #f4f3f3;
    display: flex;
    align-items: center;
}

.header__content{
    flex: 1;
    margin: auto;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2rem;
}

.logo__link{
    text-decoration: none;
    color: #454545;
    font-weight: 400;
    font-size: 2.5rem
}

.cart-nav{
    align-self: stretch;
    display: flex;
    align-items: center;
}

.cart-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.cart-nav__link{
    text_decoration:none;
}

.cart-nav__icon-box {
  position: relative;
}

.cart-nav__icon{
    width: 5rem;
    height: 5rem;
    fill: #454545;
    transition: all .2s;
}

.cart-nav__notification{

    font-size: 1.3rem;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    /* background-color: #00bb22; */
    background-color: #2684ff;
    color: #fff;
    position: absolute;
    top: 0.3rem;
    right: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-nav:hover .cart-nav__icon{
  fill: #2684ff;
}

