.catalogue {
    font-size: 1.6rem;
    min-height: calc(100vh - 25rem);
}

.catalogue__content{
    margin: 1rem auto;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.catalogue__sort{
  align-self: flex-end;
  margin: 2rem;

  display: flex;
  align-items: center;
}

.catalogue__sort > label {
  font-weight: 600;
  font-size: 1.25rem;
  color: #454545
}

.catalogue__games{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2rem;

  
}

@media only screen and (max-width: 800px) {
  .catalogue__games{
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;;
  }
}

@media only screen and (max-width: 600px) {

  .catalogue{
    font-size: 1.5rem;
  }
  .catalogue__games{
    grid-template-columns: 1fr;
  }

  .catalogue__sort{
    align-self: center;
  }
}
