.catalogue {
    font-size: 1.6rem;
    min-height: 72vh;
}

.catalogue__content{
    flex: 1;
    margin: 1rem auto;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.catalogue__sort{
  align-self: flex-end;
  margin: 2rem;
}

.catalogue__sort > label {
  font-weight: 600;
  font-size: 1.25rem;
  color: #454545
}

.catalogue__games{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
