
.product {
    font-size: 1.6rem;
    min-height: calc(100vh - 25rem);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /* justify-content: center; */
    max-width: 120rem;
    margin: 0 auto;
}

.product__info{
    max-width: 80rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5rem;
    padding: 2rem;
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem;
    margin: 1rem auto;
}

.product__purchase{
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 3rem;
    width: 30rem;
    margin-bottom: 4.5rem;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image{
  align-self: start;
  justify-self: right;
  margin-bottom: 3.5rem;
  margin-top: 5rem;
  padding: 0 5rem;
}

.product__text{
  margin-top: 6rem;
  margin-bottom: 3rem;
  align-self: center;
  justify-self: left;
  display: grid;
  grid-gap: 1rem;
}

.product__name{
  color: #454545;
  font-weight: 600;
}

.product__price{
  z-index: 999;
  color: #454545;
  padding-left: 1.5rem;
  font-size: 2.3rem;
  display: inline-block;
  font-weight: 400;
  position: relative;
}


.product__description{
  color: #656565;
  font-weight: 500;
  max-width: 50ch;
  margin-top: 3.5rem;
}


.product__qty{
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.product__qty > label {
  margin-right: 1rem;
  font-family: inherit;
  font-weight: 500;
}

.product__qty > input {
  display: inline-block;
  width: 5.4rem;
  font-family: inherit;
  padding-left: .5rem;
  outline: none;
}
.product__qty > input:focus{
  background-color: #f1f2f2;
}

.product__buy-now {
  padding:0;
  margin: 0;
  margin-top: 1rem;
  padding: .8rem 0;
  width: 100%;
}

.product__add-to-cart {
  background-color: transparent;
  color: #2684ff;
  width: 25rem;
}

.product__add-to-cart:hover{
  background-color: transparent;
  color: #0675dd
}


@media only screen and (max-width: 1200px) {
  .product__purchase{
    width: 45rem;
  }
}

@media only screen and (max-width: 800px) {
  .product__info{
    max-width: 60rem;
    grid-template-columns: 1fr;
  }

  .product__image{
    align-self: center;
    justify-self: center;
    margin: 0;
    margin-top: 2rem;
  }

  .product__text{
    margin-top: 1rem;
  }

  .product__name{
    text-align: center;
  }

  .product__price{
     justify-self: center;
  }
  
  .product__description{
    margin: 2rem 2rem;
  }
}


@media only screen and (max-width: 600px) {
  .product__info{
    max-width: 95%;
    font-size: 1.5rem;
  }

  .product__text{
    margin-top: .5rem;
  }

  .product__name{
    text-align: center;
    font-size: 2rem;
  }

  .product__price{
     justify-self: center;
     font-size: 2.2rem;
  }
  
  .product__description{
    margin: 2rem 2rem;
  }

  .product__purchase{
    width: auto;
  }

}
