.product {
    font-size: 1.6rem;
    min-height: calc(100vh - 25rem);
}

.product__content{
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem; 
    margin: 1rem auto;
    max-width: 100rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.5rem;
}

.product__image{
  align-self: center;
  justify-self: center;
}

.product__text{
  padding-top: 3rem;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-gap: 2rem;
}

.product__name{
  color: #454545;
  font-weight: 600;
  
}

.product__price{
  color: #454545;
  padding-left: 1.5rem;
  font-size: 2.3rem;
  display: inline-block;
  font-weight: 400;
  position: relative;
}

.product__description{
  color: #656565;
  font-weight: 500;
  max-width: 60ch;
}

.product__purchase{
  margin-bottom: 4.5rem;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;

}

.product__qty{
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.product__qty > label {
  margin-right: 1rem;
  font-family: inherit;
  font-weight: 500;
}

.product__qty > input {
  display: inline-block;
  width: 5.4rem;
  font-family: inherit;
  padding-left: .5rem;
  outline: none;
}
.product__qty > input:focus{

  background-color: #f1f2f2;
}

.product__buy-now {
  margin: 1rem;
  background-color: #2684ff;
  color: #fff;
  border: none;
  border-radius: 3rem;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.4rem 2.7rem;
  width: 25rem;
  cursor: pointer;
  transition: all .2s;
}

.product__buy-now:hover{
  background-color: #0675dd
}

.product__add-to-cart {
  margin: 1rem;
  background-color: transparent;
  color: #2684ff;
  border: none;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 600;
  width: 25rem;
  cursor: pointer;
  transition: all .2s;
}

.product__add-to-cart:hover{
  color: #0675dd
}

