.shopping{
    font-size: 1.6rem;
    min-height: calc(100vh - 25rem);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    /* align-items: flex-start; */
    justify-content: center;
    max-width: 110rem;
    margin: 0 auto;

}

.shopping__cart {
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem; 
    margin: 1rem auto;
    padding: 4rem;
    font-family:inherit;
    font-weight: 200;
    color: #454545;
    max-width: 80rem;

}

.shopping__cart__content{
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem; 
    margin: 1rem auto;
    padding: 4rem;
    /* max-width: 100rem; */

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.2rem;

}

.shopping__checkout{
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem; 
    margin: 1rem auto;
    padding: 3rem;
    width: 30rem;
  
}

.shopping__text-value{
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
}

.shopping__text-value > span {
  font-weight: 600; 
  float: right;
}

.cut-through{
  font-family: inherit;
  font-weight:200 !important;
  text-decoration: line-through;
  opacity: .7
}

.shopping__pay{
  padding:0;
  margin: 0;
  margin-top: 3rem;
  padding: .8rem 0;
  width: 100%;
}

.empty{
  min-height: calc(100vh - 25rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.empty__message{
  font-size: 4rem;
  font-weight: 200;
}

.empty__link{
  font-size: 2.5rem;
}


@media only screen and (max-width: 1200px) {
  .shopping__checkout{
    width: 40rem;
    margin: 1rem auto;
    padding: 3rem 3.5rem;
  }

  .shopping__pay{
    margin-top: 4rem;
    margin-bottom: 0;
    padding: .6rem 0;
  }
}

@media only screen and (max-width: 800px) {

  .shopping__cart{
    max-width: 60rem;
  }
}

@media only screen and (max-width: 600px) {

  .shopping__cart{
    max-width: 90%;
    font-size: 1.5rem;
  }

  .shopping__cart > h1{
    text-align: center;
    margin-bottom: 3rem;
  }

  .shopping__cart__content{
    grid-template-columns: 1fr;
  }
  .shopping__checkout{
    width: 32rem;
    margin: 0;
  }

  .shopping__text-value{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .shopping__pay{
    font-size: 1.5rem;
  }
}
