/* .shopping{ */
  /* min-height: calc(100vh - 25rem); */
  /* background-color: white; */
  /* margin: 1rem auto; */
  /* [> max-width: 100rem; <] */
  /* border: 2px solid #f1f2f2; */
  /* border-radius: 1rem; */

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* [> gap: 3rem; <] */
/* } */


.shopping {
    font-size: 1.6rem;
    min-height: calc(100vh - 25rem);
    background-color: white;
    border: 2px solid #f1f2f2;
    border-radius: 1rem; 
    margin: 1rem auto;
    padding: 4rem;
    /* max-width: 100rem; */
    max-width: 80rem;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.2rem;
}

